.reveal {
    color: rgb(48,113,169) !important;
}

.reveal section img {
    border: none !important;
    box-shadow: none !important;
}

.zeppelin-font {
    font-family: "patua one" !important;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links img {
    max-width: 20%;
}

.big-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(48,113,169) !important;
    border-width: 2px !important;
    border-style: solid !important;
}

.big-title img {
    max-width: 30%;
}

.big-title h3 {
    text-align: center;
    text-transform: none;
    color: rgb(48,113,169) !important;
}

.speaker {
    color: rgb(48,113,169) !important;
    text-align: right;
    margin-top: 50px !important;
}

.speaker-logos {
    margin-top: 20px !important;
    padding-top: 10px !important;
    /*padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
}

.smaller {
    font-size: x-large !important;
}
